<div class="img-contact"><div class="text-contact">CONTACT</div></div>
<div class="container container-xl">
  <div class="row">
    <div class="col-sm">
      <form>
        <h4 class="sendUs">Send Us A Message</h4>

        <div class="form-group has-search">
          <span class="bi bi-envelope form-control-feedback"></span>
          <input type="email" class="form-control" placeholder="Email" />
        </div>

        <div class="textareadiv">
          <textarea
            class="textarea"
            name="msg"
            placeholder="How Can We Help?"
          ></textarea>
        </div>

        <button class="btnsubmit">Submit</button>
      </form>
    </div>

    <div class="col-sm">
      <div class="addressdiv1">
        <span class="icon">
          <i class="bi bi-geo-alt"></i>
        </span>

        <div class="addressdiv2">
          <span class="addressspan"> Address </span>

          <p class="addressdiv3">
            Coza Store Center 8th floor, 379 Hudson St, New York, NY 10018 US
          </p>
        </div>
      </div>

      <div class="addressdiv1">
        <span class="icon">
          <i class="bi bi-telephone"></i>
        </span>

        <div class="">
          <span class="addressspan"> Lets Talk </span>

          <p class="mt-2 phone">+1 800 1236879</p>
        </div>
      </div>

      <div class="addressdiv1">
        <span class="icon">
          <i class="bi bi-envelope-heart"></i>
        </span>

        <div class="">
          <span class="addressspan"> Sale Support </span>
          <p class="mt-2">
            <a href="mailto: contact@example.com">contact@example.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9550.463830087303!2d-73.9615733058955!3d40.77827413926051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25896f660c26f%3A0x3b2fa4f4b6c6a1fa!2zVmnhu4duIGLhuqNvIHTDoG5nIE3hu7kgdGh14bqtdCBNZXRyb3BvbGl0YW4!5e1!3m2!1svi!2s!4v1667981468798!5m2!1svi!2s"
  width="100%"
  height="370px"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>
