.col-sm {
  padding: 50px;
  border: 1px solid #e6e6e6;
}
.row {
  padding: 50px;
}
.emailDiv {
  padding-bottom: 15px;
}
.EmailInput {
  width: 100%;
  height: 50px;
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.6923;
  padding-left: 62px;
  border: 1px solid #e6e6e6;
}

.textarea {
  display: block;
  outline: none;
  padding: 20px;
}

// .bi-envelope {
//   position: absolute;
//   // top: calc(60%);
//   // left: 75px;
//   // font-size: 25px;
//   // font-family: Arial, sans-serif;
//   // color: #666666;
// }
.textarea {
  width: 100%;
  display: block;
  outline: none;
  overflow: auto;
  resize: vertical;
  border: 1px solid #e6e6e6;

  min-height: 199px;
  padding-bottom: 20px;
}
.textareadiv {
  padding-bottom: 15px;
}
.btnsubmit {
  border-radius: 23px;
  width: 100%;
  height: 46px;
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.466667;
  text-transform: uppercase;
  color: #fff;
  justify-content: center;
  background-color: black;
}
.sendUs {
  font-family: Poppins-Regular;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}
.phone {
  color: #007bff;
}
.addressdiv3 {
  margin-top: 10px;
  color: #888;
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.666667;
  max-width: 245px;
}
.addressspan {
  font-family: Poppins-Regular;
  font-size: 25px;
  line-height: 1.222222;
}
.icon {
  width: 35px;
  font-size: 20px;
}

.addressdiv1 {
  display: flex;
  margin-top: 25px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.img-contact {
  background-image: url("../../../assets/bg-01.jpg");
  height: 250px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.text-contact {
  font-family: Poppins-Bold;
  font-size: 50px;
  line-height: 1.1;

  color: #fff;
}
