<br>
<div class="row full-content">
  <div class="col-2 ">
    <!-- sidebar -->
    <div class="sidebar-left">
      <h3 class="sidebar-title">Search</h3>
      <input type="text"
        [(ngModel)]="search"
        placeholder="Search..."
        (ngModelChange)="fitercontrol.next($event)"
   >
   </div>
  </div>
  <!-- main-content -->
  <div class="col-8 ">
    <div class="container">
      <div class="row isotope-grid" >
        
        <div class="col-4 pb-5 pr-5 pl-5 product" *ngFor="let item of products; let i =index">
          
          <div class="image-product">
            <a href="" [routerLink]="['/detail-product', item.id]">
              <img src="{{item.image}}" alt="" width="100%" height="300px">
            </a>
          </div>

          <div class="infor-product">
            <p> <a href="" [routerLink]="['/detail-product', item.id]">{{item.id}}.{{item.title}}</a></p>
            <p>{{item.price | currency : "USD"}}</p>
          </div>
          
        </div>
      </div>
  
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" (click)="getproductpage1(1,9)">1</a></li>
          <li class="page-item"><a class="page-link" (click)="getproductpage1(2,9)" >2</a></li>
          <li class="page-item"><a class="page-link" (click)="getproductpage1(3,9)" >3</a></li>
         
            <a class="page-link" href="#">Next</a>
        </ul>
      </nav>

    </div>
  </div>
  <!-- side left -->
  <div class="col-2 hide-sidebar" >
   <div class="sidebar-left">
    <h3 class="sidebar-title">Categories</h3>
    <ul class="sidebar-menu" *ngFor="let category of categorys">
      <li><a class="context-menu " (click)="getProductByCategory(category)">{{category}}</a></li>
     </ul>
 </div>
 <!-- serarch -->
 
  </div>
</div>

