p {
    
    width: 275px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 1;
    height: 20px;
     display: -webkit-box;
    -webkit-box-orient: vertical;
}

p>a{
    color: #333;
}
p>a:hover{
    color: rgb(160, 34, 63);
}

.product:hover{
    transform: scale(1.1);
    transition: all linear 0.3s;
}
.product{
    width: 50%;
}

//side bar
*{
    font-family: 'MuliDisplayVN', sans-serif;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.sidebar-left {
    background-color: #f9fafb;
    border-radius: 5px;
    padding: 15px;
}

.sidebar-left .title-sidebar {
    color: #333;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin: 0 0 15px;
}



.sidebar-left .sidebar-menu{
    list-style: none;
}
.sidebar-left .sidebar-menu li{
    display: block;
}
.sidebar-left .sidebar-menu li a{
    display: block;
    font-size: 16px;
    line-height: 1.2;
    text-decoration: none;
    padding: 5px 0;
    position: relative;
    color: #333;
}
.sidebar-left .sidebar-menu li a:hover{
    color: #a53b31;
    font-size: 18px;
}
.sidebar-left .sidebar-menu li ul{
    padding-left: 20px;
    list-style: none;
}

.sidebar-left .sidebar-menu li ul{
    padding-left: 20px;
    list-style: none;
    display: none;
}

.sidebar-left .sidebar-menu li.has-child .icon {
    content: '';
    position: absolute;
    right: 0;
    top: 4px;
    width: 20px;
    height: 20px;
    background: url(//theme.hstatic.net/1000006434/1000468887/14/menu-arrow.png?v=491) center center no-repeat;
    background-size: 14px;
    transition: all 0.3s ease-in-out;
}
.image-product{
    width: 100%;
    height: auto;
}



.sidebar-left .sidebar-menu li.has-child.menu-open > a .icon{
    transform: rotate(180deg); /* Khi có class .menu-open thì xoay icon 180 độ */
}
.sidebar-left .sidebar-menu li.has-child.menu-open > ul{
    display: block; /* Khi có class .menu-open thì menu con kế tiếp hiển thị */
}

.context-menu {
    cursor: pointer;
    
    text-transform: capitalize;
}


@media only screen and (max-width: 820px) {
    .hide-sidebar{
        display: none;
    }

    .full-content{
        display: flex;
	    flex-direction: column;
        width: 100%;
    }
    
  }