<div class="img-blog"><p class="text-blog">Blog</p></div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-9 mt-5 pr-3">
      <div>
        <div class="blog1">
          <img class="img" src="../../../assets/blog-04.jpg" alt="" />
          <h2 class="title mt-3">
            8 Inspiring Ways to Wear Dresses in the Winter
          </h2>
          <p class="text">
            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos. Fusce eget dictum tortor. Donec dictum vitae
            sapien eu varius
          </p>
          <div class="next">
            <span class="text1">
              By Admin | StreetStyle, Fashion, Couple | 8 Comments
            </span>
            <a href=""> Continue Reading <i class="bi bi-arrow-right"></i> </a>
          </div>
        </div>
        <div class="blog2">
          <img class="img" src="../../../assets/blog-05.jpg" alt="" />
          <h2 class="title mt-3">
            The Great Big List of Men’s Gifts for the Holidays
          </h2>
          <p class="text">
            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos. Fusce eget dictum tortor. Donec dictum vitae
            sapien eu varius
          </p>
          <div class="next">
            <span class="text1">
              By Admin | StreetStyle, Fashion, Couple | 8 Comments
            </span>
            <a href=""> Continue Reading <i class="bi bi-arrow-right"></i> </a>
          </div>
        </div>
        <div class="blog3">
          <img class="img" src="../../../assets/blog-06.jpg" alt="" />
          <h2 class="title mt-3">
            5 Winter-to-Spring Fashion Trends to Try Now
          </h2>
          <p class="text">
            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos. Fusce eget dictum tortor. Donec dictum vitae
            sapien eu varius
          </p>
          <div class="next">
            <span class="text1">
              By Admin | StreetStyle, Fashion, Couple | 8 Comments
            </span>
            <a href=""> Continue Reading <i class="bi bi-arrow-right"></i> </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mt-5">
      <div>
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="Search" />
        </div>
        <div>
          <p class="category">Categories</p>
          <ul>
            <li class="bor18"><a class="category1" href="">Fashion</a></li>
            <li class="bor18"><a class="category1" href="">Beauty</a></li>
            <li class="bor18"><a class="category1" href="">Stress Style</a></li>
            <li class="bor18"><a class="category1" href="">Life Style</a></li>
            <li class="bor18"><a class="category1" href="">DIY & Carfts</a></li>
          </ul>
        </div>
        <div>
          <p class="category">Featured Products</p>
          <ul>
            <li class="featured">
              <a class="featured-img" href=""
                ><img src="../../../assets/product-min-01.jpg" alt=""
              /></a>
              <div class="size-215">
                <a class="stext-115" href="">
                  White Shirt With Pleat Detail Back
                </a>
                <span class="stext-116">$19.00</span>
              </div>
            </li>
            <li class="featured mt-3">
              <a class="featured-img" href=""
                ><img src="../../../assets/product-min-02.jpg" alt=""
              /></a>
              <div class="size-215">
                <a class="stext-115" href="">
                  Converse All Star Hi Black Canvas
                </a>
                <span class="stext-116">$39.00</span>
              </div>
            </li>
            <li class="featured mt-3">
              <a class="featured-img" href=""
                ><img src="../../../assets/product-min-03.jpg" alt=""
              /></a>
              <div class="size-215">
                <a class="stext-115" href="">
                  Nixon Porter Leather Watch In Tan
                </a>
                <span class="stext-116">$17.00</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
