<footer class="footer-area">
  <div class="container-xl">
    <div class="footer-items row">
      <div class="footer-categories col-lg-3 col-sm-6">
        <h4 class="footer-categories--title">CATEGORIES</h4>
        <ul class="footer-categories--list">
          <li class="footer-categories--item">
            <span>Women</span>
          </li>
          <li class="footer-categories--item">
            <span>Man</span>
          </li>
          <li class="footer-categories--item">
            <span>Shoes</span>
          </li>
          <li class="footer-categories--item">
            <span>Watches</span>
          </li>
        </ul>
      </div>
      <div class="footer-help col-lg-3 col-sm-6">
        <ul class="footer-help--list">
          <h4 class="footer-help--title">HELP</h4>
          <li class="footer-help--item">
            <span>Track order</span>
          </li>
          <li class="footer-help--item">
            <span>Returns</span>
          </li>
          <li class="footer-help--item">
            <span>Shipping</span>
          </li>
          <li class="footer-help--item">
            <span>FAQs</span>
          </li>
        </ul>
      </div>
      <div class="footer-touch col-lg-3 col-sm-6">
        <h4 class="footer-touch--title">GET IN TOUCH</h4>
        <p class="footer-touch--desc">
          Any questions? Let us know in store at 8th floor, 379 Hudson St, New
          York, NY 10018 or call us on (+1) 96 716 6879
        </p>
        <ul class="footer-touch--list">
          <li class="footer-touch--item">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="footer-letter col-lg-3 col-sm-6">
        <h4 class="footer-letter--title">NEWSLETTER</h4>
        <form class="footer-letter--list">
          <input type="text" placeholder="cozastore@gmail.com" />
          <button type="submit" class="footer-letter--btn">SUBSCRIBE</button>
        </form>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="footer-card">
        <img
          src="https://technext.github.io/cozastore/images/icons/icon-pay-01.png"
          alt=""
        />
        <img
          src="https://technext.github.io/cozastore/images/icons/icon-pay-02.png"
          alt=""
        />
        <img
          src="https://technext.github.io/cozastore/images/icons/icon-pay-03.png"
          alt=""
        />
        <img
          src="https://technext.github.io/cozastore/images/icons/icon-pay-04.png"
          alt=""
        />
        <img
          src="https://technext.github.io/cozastore/images/icons/icon-pay-05.png"
          alt=""
        />
      </div>
      <p>Copyright ©2022 All rights reserved</p>
    </div>
  </div>
</footer>
