$gray-dark: #0e2737;
$blue-primary: #1cc3b2;
$gray-light: #afb4bf;
$violet-light: #717fe0;

// CSS top header
.top-header__area {
  height: 50px;
  width: 100%;
  background-color: $gray-dark;
  display: flex;
  align-items: center;
}

// .main-header__area {
//   background-color: white;
//   position: fixed;
//   top: 50px;
//   left: 0;
//   right: 0;
//   z-index: 100;
// }

.top-header__area a {
  color: white;
  text-decoration: none;
}

.top-header__area a i {
  color: $blue-primary;
}

.top-header__area a:hover > span {
  color: $gray-light;
}

.top-header__area a span {
  font-size: 14px;
}

.top-header__left {
  display: flex;
  align-items: center;
}

.top-header__right {
  display: flex;
  align-items: center;
}

.top-header__social a i {
  font-size: 16px;
  color: white;
}

.top-header__right {
  display: flex;
}

.btn__login {
  color: white;
  border-radius: 0;
  height: 100%;
  min-width: 80px;

  outline: none;
  border-right: 1px solid white;
  border-left: 1px solid white;
  &:hover {
    color: $blue-primary;
  }
}

.btn__signup {
  border-radius: 0;
  color: white;
  height: 100%;
  min-width: 80px;
  outline: none;
  border-right: 1px solid white;
  border-left: 1px solid white;

  &:hover {
    color: $blue-primary;
  }
}

.top-header__social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.top-header__social > a {
  margin-right: 30px;
  color: white !important;
}

.top-header__social a i:hover {
  color: $blue-primary;
}

.top-header__social a:last-child {
  margin-right: 0;
}

// CSS main header

.main-header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
}

.main-header__sidebar {
  display: none;
}

.main-header__logo {
  height: 100%;
  margin-right: 30px;
  display: flex;
  align-items: center;
  img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }
}

.main-header__menu {
  display: flex;
  flex-direction: row;
}

.main-header__navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
  a:hover {
    color: $violet-light;
  }

  a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 0 20px;
    color: #2a303b;
  }
}

.main-header__cart {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: white;
  i {
    margin-left: 10px;
    color: $gray-dark;
    font-size: 18px;
    padding: 0 10px;
    :last-child {
      padding: 0 0 0 10px;
    }
    &:hover {
      transition: all linear 0.3s;
      cursor: pointer;
      color: $violet-light;
    }
  }
}

.active {
  a {
    color: $violet-light;
  }
}

//CSS start for tables
@media (min-width: 768px) and (max-width: 991.98px) {
  .top-header__area {
    display: none;
  }

  .main-header__menu {
    display: none;
  }

  .main-header__sidebar {
    display: inline-block;
  }
}
