$gray-dark: #0e2737;
$blue-primary: #1cc3b2;
$gray-light: #afb4bf;
$violet-light: #717fe0;

// CSS top header

.top-header__area {
  height: 50px;
  width: 100%;
  background-color: $gray-dark;
  display: flex;
  align-items: center;
}

.top-header__area a {
  color: white;
  text-decoration: none;
}

.top-header__area a i {
  color: $blue-primary;
}

.top-header__area a:hover > span {
  color: $gray-light;
}

.top-header__area a span {
  font-size: 14px;
}

.top-header__left {
  display: flex;
  align-items: center;
}

.top-header__right {
  display: flex;
  align-items: center;
}

.top-header__social a i {
  font-size: 16px;
  color: white;
}

.top-header__right {
  display: flex;
}

.btn__login {
  color: white;
  border-radius: 0;
  height: 100%;
  min-width: 80px;

  outline: none;
  border-right: 1px solid white;
  border-left: 1px solid white;
  &:hover {
    color: $blue-primary;
  }
}

.btn__signup {
  border-radius: 0;
  color: white;
  height: 100%;
  min-width: 80px;
  outline: none;
  border-right: 1px solid white;
  border-left: 1px solid white;

  &:hover {
    color: $blue-primary;
  }
}

.top-header__social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.top-header__social > a {
  margin-right: 30px;
  color: white !important;
}

.top-header__social a i:hover {
  color: $blue-primary;
}

.top-header__social a:last-child {
  margin-right: 0;
}

// CSS main header

.main-header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
}

.main-header__sidebar {
  display: none;
}

.main-header__logo {
  height: 100%;
  margin-right: 30px;
  display: flex;
  align-items: center;
  img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }
}

.main-header__menu {
  display: flex;
  flex-direction: row;
}

.main-header__navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
  a:hover {
    color: $violet-light;
  }

  a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 0 20px;
    color: #2a303b;
  }
}

.main-header__cart {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: white;
  i {
    margin-left: 10px;
    color: $gray-dark;
    font-size: 18px;
    padding: 0 10px;
    :last-child {
      padding: 0 0 0 10px;
    }
    &:hover {
      transition: all linear 0.3s;
      cursor: pointer;
      color: $violet-light;
    }
  }
}

.cart-area {
  position: fixed;
  right: -100%;
  height: 100vh;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.activeCart {
  right: 0 !important;
}

.cart-active__container {
  right: 0 !important;
  transition: all 0.4s;
}

.hide-cart {
  width: 100%;
  height: 100vh;
}

.cart-container {
  position: fixed;
  color: black;
  top: 0;
  right: -100%;
  width: 390px;
  height: 100vh;
  padding: 40px 25px 20px 65px;
  background-color: white;
  transition: all 0.4s;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    color: #333;
    text-transform: uppercase;
  }

  i {
    font-size: 28px;
    color: #333;
    &:hover {
      cursor: pointer;
      color: #888;
    }
  }
}

.cart-content {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.cart-content--list {
  list-style: none;
  width: 100%;
  padding: 0;
}

.cart-content--feature {
  span {
    padding: 40px 0;
    display: block;
  }
}

.cart-content--btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.check-out__cart--btn,
.view__cart--btn {
  background-color: #222;
  border-radius: 20px;
  color: white;
  padding: 0 15px;
  min-width: 140px;
  height: 40px;
  &:hover {
    background-color: $violet-light;
    color: white;
  }
}

.cart-list__item {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  &__picture {
    width: 60px;
    margin-right: 20px;
    img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    span {
      color: #555;
      font-size: 14px;
    }
  }
}

.cart-item--title {
  width: 100%;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 16px;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: $violet-light;
  }
}

.active {
  a {
    color: $violet-light;
  }
}

// CSS Menu mobie
.menu-mobie {
  display: none;
}

//CSS start for tables
@media only screen and (max-width: 768px) {
  .top-header__area {
    display: none;
  }

  .main-header__menu {
    display: none;
  }

  .main-header__cart {
    i {
      display: inline-block;
      margin-left: 10px;
      color: $gray-dark;
      font-size: 26px;
      padding: 0 10px;
      :last-child {
        padding: 0 0 0 10px;
      }
      &:hover {
        transition: all linear 0.3s;
        cursor: pointer;
        color: $violet-light;
      }
    }
  }

  .main-header__sidebar {
    display: inline-block;
    .menu-close {
      display: none;
    }

    .menu-close {
      font-size: 36px;
    }
  }

  //CSS Menu mobie
  .header__area {
    position: relative;
  }

  .menu-mobie {
    background-color: $violet-light;
    color: white;
    width: 100%;
    left: -100%;
    z-index: 1001;
  }

  .menu-mobie__list {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    li {
      width: 100%;
      a {
        color: white;
        font-size: 16px;
        line-height: 2.8;
        padding: 8px 20px;
        font-weight: 500;
      }
    }
  }

  .active-menu {
    display: block !important;
  }

  .close-menu {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .top-header__area {
    display: none;
  }

  .main-header__menu {
    display: none;
  }

  .main-header__cart {
    i {
      display: inline-block;
      margin-left: 10px;
      color: $gray-dark;
      font-size: 26px;
      padding: 0 10px;
      :last-child {
        padding: 0 0 0 10px;
      }
      &:hover {
        transition: all linear 0.3s;
        cursor: pointer;
        color: $violet-light;
      }
    }
  }

  .main-header__sidebar {
    display: inline-block;
    .menu-close {
      display: none;
    }

    .menu-close {
      font-size: 36px;
    }
  }

  //CSS Menu mobie
  .header__area {
    position: relative;
  }

  .menu-mobie {
    background-color: $violet-light;
    color: white;
    width: 100%;
    left: -100%;
    z-index: 1001;
  }

  .menu-mobie__list {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    li {
      width: 100%;
      a {
        color: white;
        font-size: 16px;
        line-height: 2.8;
        padding: 8px 20px;
        font-weight: 500;
      }
    }
  }

  .active-menu {
    display: block !important;
  }

  .close-menu {
    display: none !important;
  }
}
