<div class="slider-container">
  <div id="demo" class="carousel slide h-100" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner h-100">
      <div class="carousel-item active h-100">
        <img
          src="https://technext.github.io/cozastore/images/slide-01.jpg"
          alt="Los Angeles"
          width="1100"
          height="500"
        />
        <div class="carousel-caption">
          <div class="carousel-caption--desc">
            <p>Women Collection 2022</p>
            <h3>NEW SEASON</h3>
            <a [routerLink]="['/products']">
              <button class="btn btn-shop">Shop Now</button>
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item h-100">
        <img
          src="https://technext.github.io/cozastore/images/slide-02.jpg"
          alt="Chicago"
          width="1100"
          height="500"
        />
        <div class="carousel-caption">
          <div class="carousel-caption--desc">
            <p>Man Collection 2022</p>
            <h3>NEW ARRIVALS</h3>
            <a [routerLink]="['/products']">
              <button class="btn btn-shop">Shop Now</button>
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item h-100">
        <img
          src="https://technext.github.io/cozastore/images/slide-03.jpg"
          alt="New York"
          width="1100"
          height="500"
        />
        <div class="carousel-caption">
          <div class="carousel-caption--desc">
            <p>Man Collection 2022</p>
            <h3>NEW ARRIVALS</h3>
            <a [routerLink]="['/products']">
              <button class="btn btn-shop">Shop Now</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <i class="fa-solid fa-chevron-left text-secondary"></i>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <i class="fa-solid fa-chevron-right text-secondary"></i>
    </a>
  </div>
</div>
<div class="container-xl pt-5">
  <div class="row">
    <div class="col-sm banner-1 block mr-4">
      <div>
        <b class="text">Women</b>
        <p class="text-2">Winter 2022</p>
      </div>
    </div>
    <div class="col-sm banner-2 block mr-4">
      <div>
        <b class="text">Men</b>
        <p class="text-2">Winter 2022</p>
      </div>
    </div>
    <div class="col-sm banner-3 block">
      <div>
        <b class="text">Accessories</b>
        <p class="text-2">New Trend</p>
      </div>
    </div>
  </div>
  <div>
    <p class="text-center overview">Store Overview</p>
    <ul class="nav">
      <li class="pr-3"><a class="link" href="#">Best Seller</a></li>
      <li class="pr-3"><a class="link" href="">Best Seller</a></li>
      <li class="pr-3"><a class="link" href="">Featured</a></li>
      <li class="pr-3"><a class="link" href="">Sale</a></li>
      <li class="pr-3"><a class="link" href="">Top Rate</a></li>
    </ul>
  </div>
  <div class="pb-5">
    <p class="text-center blog">Our Blogs</p>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <img class="img" src="../../../assets/blog-01.jpg" alt="" />
          <p class="mt-3">
            <span>By</span> Nancy Ward <span>on</span> November 02, 2022
          </p>
          <p style="font-size: 18px; line-height: 1.333333">
            8 Inspiring Ways to Wear Dresses in the Winter
          </p>
          <span
            >Duis ut velit gravida nibh bibendum commodo. Suspendisse
            pellentesque mattis augue id euismod. Interdum et male-suada
            fames</span
          >
        </div>
        <div class="col-sm">
          <img class="img" src="../../../assets/blog-02.jpg" alt="" />
          <p class="mt-3">
            <span>By</span> Nancy Ward <span>on</span> November 02, 2022
          </p>
          <p style="font-size: 18px; line-height: 1.333333">
            8 Inspiring Ways to Wear Dresses in the Winter
          </p>
          <span
            >Duis ut velit gravida nibh bibendum commodo. Suspendisse
            pellentesque mattis augue id euismod. Interdum et male-suada
            fames</span
          >
        </div>
        <div class="col-sm">
          <img class="img" src="../../../assets/blog-03.jpg" alt="" />
          <p class="mt-3">
            <span>By</span> Nancy Ward <span>on</span> November 02, 2022
          </p>
          <p style="font-size: 18px; line-height: 1.333333">
            8 Inspiring Ways to Wear Dresses in the Winter
          </p>
          <span
            >Duis ut velit gravida nibh bibendum commodo. Suspendisse
            pellentesque mattis augue id euismod. Interdum et male-suada
            fames</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
